<div id="shopify-section-template--16440121786626__16626008084ddcdc80"
class="shopify-section index-section">
	<div class="page-width">
		<div class="grid grid--uniform grid--flush-bottom">
			{% comment %}
			 {%- render "item-style-static" -%} {% endcomment %}

			 {{ template.suffix }}
		</div>
	</div>
</div>

<script type="text/javascript" defer="defer">

    $(document).ready(() => {
		console.log($('.grid--uniform'));
		
		console.log("Hello Styles!");
	});
	   
 
</script>