<div id="variant_product" class="grid grid--uniform grid--flush-bottom">
	<div class="profile-main-loader">
		<div class="loader">
			<svg class="circular-loader"viewBox="25 25 50 50" >
			<circle class="loader-path" cx="50" cy="50" r="20" fill="none" stroke="#ff4f33" stroke-width="2" />
			</svg>
		</div>
	</div>
</div>
<div id="style_items" style="display: none ;">
    {% render 'item-style-static' %}
</div>
{% schema %}
{
	"name": "Main Style",
	"class": "main-style",
	"settings": []
}
{% endschema %}
