<div class="page-width page-width--narrow page-content">
  {%- render 'breadcrumbs' -%}
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title }}</h1>
  </header>
{% style %}
.index-section {
    margin: 25px 0;
}  
.grid__item {
    padding-left: 7px;
}
.grid__item h3 {
    font-size: 17px;
    text-align: center;
    letter-spacing: 2px;
}  
.btn--small {
    font-size: 11px;  
}  
.grid--flush-bottom>.grid__item {
    margin-bottom: 7px;
}  
.colormaxwidth {
    max-width: 500px; 
}  
@media only screen and (min-width: 769px) {
.page-full, .page-width {
    padding: 0 5px;
}
}   
@media only screen and (max-width: 768px) {
.grid {
   /* margin-left: -30px;
    margin-right: -26px;*/
}  
.grid__item h3 {
    font-size: 13px;
}   
}  
{% endstyle %}
  <div class="rte rte--nomargin" style="text-align: center;">
    {{ page.content }}
  </div>
<div id="shopify-section-template--16440121786626__16626008084ddcdc80"
class="shopify-section index-section">
	<div class="page-width">
		<div class="grid grid--uniform grid--flush-bottom">
			<div class="grid__item small--one-half medium-up--one-quarter"
			data-aos="row-of-4">
				<div style="margin: 0 auto;" class="colormaxwidth">
					<a href="/collections/dusty-rose-bridesmaid-dresses?ref=bridesmaidcolor">
						<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
							<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
							data-aspectratio="0.75" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_180x.jpg 180w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_360x.jpg 360w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_540x.jpg 540w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_720x.jpg 720w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_900x.jpg 900w"
							sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_180x.jpg 180w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_360x.jpg 360w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_540x.jpg 540w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_720x.jpg 720w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Rose_900x.jpg 900w" alt="Dusty Rose Bridesmaid Dresses">
						</div>
					</a>
				</div>
				<h3>
					Dusty Rose
				</h3>
			</div>
			<div class="grid__item small--one-half medium-up--one-quarter"
			data-aos="row-of-4">
				<div style="margin: 0 auto;" class="colormaxwidth">
					<a href="/collections/dusty-blue-bridesmaid-dresses?ref=bridesmaidcolor">
						<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
							<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
							data-aspectratio="0.75" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_180x.jpg 180w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_360x.jpg 360w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_540x.jpg 540w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_720x.jpg 720w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_900x.jpg 900w"
							sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_180x.jpg 180w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_360x.jpg 360w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_540x.jpg 540w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_720x.jpg 720w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Dusty_Blue_900x.jpg 900w" alt="Dusty Blue Bridesmaid Dresses">
						</div>
					</a>

				</div>
				
				<h3>
					Dusty Blue
				</h3>
			</div>
			<div class="grid__item small--one-half medium-up--one-quarter"
			data-aos="row-of-4">
				<div style="margin: 0 auto;" class="colormaxwidth">
					<a href="/collections/burnt-orange-bridesmaid-dresses?ref=bridesmaidcolor">
						<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
							<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
							data-aspectratio="0.75" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_180x.jpg 180w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_360x.jpg 360w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_540x.jpg 540w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_720x.jpg 720w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_900x.jpg 900w"
							sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_180x.jpg 180w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_360x.jpg 360w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_540x.jpg 540w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_720x.jpg 720w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Burnt_Orange_900x.jpg 900w" alt="Burnt Orange Bridesmaid Dresses">
						</div>
					</a>
				</div>
				<h3>
					Burnt Orange
				</h3>
			</div>
			<div class="grid__item small--one-half medium-up--one-quarter"
			data-aos="row-of-4">
				<div style="margin: 0 auto;" class="colormaxwidth">
					<a href="/collections/light-burgundy-bridesmaid-dresses?ref=bridesmaidcolor">
						<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
							<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
							data-aspectratio="0.75" data-sizes="auto" alt="" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_180x.jpg 180w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_360x.jpg 360w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_540x.jpg 540w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_720x.jpg 720w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_900x.jpg 900w"
							sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_180x.jpg 180w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_360x.jpg 360w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_540x.jpg 540w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_720x.jpg 720w, //cdn.shopify.com/s/files/1/0643/9976/9858/files/All_Colors-Light_Burgundy_900x.jpg 900w" alt="Light Burgundy Bridesmaid Dresses">
						</div>
					</a>
				</div>
				<h3>
					Light Burgundy
				</h3>
			</div>		

<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/white-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-White_900x.jpg 900w"
				alt="White Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		White
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/champagne-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68103-Champagne_900x.jpg 900w"
				alt="Champagne Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Champagne
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/light-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816204-Light_Blue_900x.jpg 900w"
				alt="Light Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Light Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/sage-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816211-Sage_900x.jpg 900w"
				alt="Sage Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Sage
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/fuchsia-pink-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816222-Fuchsia_Pink_900x.jpg 900w"
				alt="Fuchsia Pink Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Fuchsia Pink
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/red-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/68106-Red_900x.jpg 900w"
				alt="Red Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Red
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/olive-green-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816207-Olive_Green_900x.jpg 900w"
				alt="Olive Green Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Olive Green
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/royal-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816209-Royal_Blue_900x.jpg 900w"
				alt="Royal Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Royal Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/navy-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816217-Navy_Blue_900x.jpg 900w"
				alt="Navy Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Navy Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/burgundy-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816220-Burgundy_900x.jpg 900w"
				alt="Burgundy Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Burgundy
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/black-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Black_900x.jpg 900w"
				alt="Black Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Black
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/daffodil-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Daffodil_900x.jpg 900w"
				alt="Daffodil Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Daffodil
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/ivory-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ivory_900x.jpg 900w"
				alt="Ivory Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Ivory
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/mist-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mist_Blue_900x.jpg 900w"
				alt="Mist Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Mist Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/sky-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Sky_Blue_900x.jpg 900w"
				alt="Sky Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Sky Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/ocean-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ocean_Blue_900x.jpg 900w"
				alt="Ocean Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Ocean Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/jay-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Jay_Blue_900x.jpg 900w"
				alt="Jay Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Jay Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/klein-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Klein_Blue_900x.jpg 900w"
				alt="Klein Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Klein Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/steel-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Steel_Blue_900x.jpg 900w"
				alt="Steel Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Steel Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/aqua-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Aqua_Blue_900x.jpg 900w"
				alt="Aqua Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Aqua Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/ink-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Ink_Blue_900x.jpg 900w"
				alt="Ink Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Ink Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/stormy-blue-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Stormy_Blue_900x.jpg 900w"
				alt="Stormy Blue Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Stormy Blue
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/lilac-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lilac_900x.jpg 900w"
				alt="Lilac Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Lilac
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/lavender-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Lavender_900x.jpg 900w"
				alt="Lavender Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Lavender
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/wisteria-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Wisteria_900x.jpg 900w"
				alt="Wisteria Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Wisteria
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/light-purple-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Light_Purple_900x.jpg 900w"
				alt="Light Purple Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Light Purple
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/purple-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Purple_900x.jpg 900w"
				alt="Purple Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Purple
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/gold-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gold_900x.jpg 900w"
				alt="Gold Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Gold
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/yellow-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Yellow_900x.jpg 900w"
				alt="Yellow Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Yellow
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/mustard-yellow-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mustard_Yellow_900x.jpg 900w"
				alt="Mustard Yellow Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Mustard Yellow
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/orange-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orange_900x.jpg 900w"
				alt="Orange Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Orange
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/pink-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pink_900x.jpg 900w"
				alt="Pink Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Pink
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/pearl-pink-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Pearl_Pink_900x.jpg 900w"
				alt="Pearl Pink Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Pearl Pink
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/peach-pink-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peach_Pink_900x.jpg 900w"
				alt="Peach Pink Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Peach Pink
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/hot-pink-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Hot_Pink_900x.jpg 900w"
				alt="Hot Pink Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Hot Pink
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/mauve-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mauve_900x.jpg 900w"
				alt="Mauve Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Mauve
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/coral-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Coral_900x.jpg 900w"
				alt="Coral Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Coral
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/spa-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Spa_900x.jpg 900w"
				alt="Spa Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Spa
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/turquoise-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Turquoise_900x.jpg 900w"
				alt="Turquoise Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Turquoise
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/dusty-sage-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dusty_Sage_900x.jpg 900w"
				alt="Dusty Sage Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Dusty Sage
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/peacock-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Peacock_900x.jpg 900w"
				alt="Peacock Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Peacock
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/emerald-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Emerald_900x.jpg 900w"
				alt="Emerald Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Emerald
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/dark-green-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Dark_Green_900x.jpg 900w"
				alt="Dark Green Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Dark Green
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/fuchsia-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Fuchsia_900x.jpg 900w"
				alt="Fuchsia Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Fuchsia
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/mulberry-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Mulberry_900x.jpg 900w"
				alt="Mulberry Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Mulberry
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/orchid-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Orchid_900x.jpg 900w"
				alt="Orchid Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Orchid
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/plum-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Plum_900x.jpg 900w"
				alt="Plum Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Plum
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/rust-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Rust_900x.jpg 900w"
				alt="Rust Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Rust
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/silver-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Silver_900x.jpg 900w"
				alt="Silver Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Silver
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/taupe-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Taupe_900x.jpg 900w"
				alt="Taupe Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Taupe
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/gray-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Gray_900x.jpg 900w"
				alt="Gray Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Gray
	</h3>
</div>
<div class="grid__item small--one-half medium-up--one-quarter" data-aos="row-of-4">
	<div style="margin: 0 auto;" class="colormaxwidth">
		<a href="/collections/brown-bridesmaid-dresses?ref=bridesmaidcolor">
			<div class="image-wrap text-spacing" style="height: 0; padding-bottom: 133.33333333333334%;">
				<img class="lazyautosizes lazyloaded" data-widths="[180, 360, 540, 720, 900]"
				data-aspectratio="0.75" data-sizes="auto" data-srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_900x.jpg 900w"
				sizes="300px" srcset="//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_180x.jpg 180w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_360x.jpg 360w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_540x.jpg 540w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_720x.jpg 720w,//cdn.shopify.com/s/files/1/0643/9976/9858/files/9816206-Brown_900x.jpg 900w"
				alt="Brown Bridesmaid Dresses">
			</div>
		</a>
	</div>
	<h3>
		Brown
	</h3>
</div>
          
		</div>
	</div>
</div>
  
</div>